{% extends 'index.html'%}{% load static %} {% block content %}
{% for dump in messages %}
{% if 'unortho' in dump.tags %}
<div class="alert alert-alert" id="notify" role="alert">{{dump}}</div>
{% endif %}
{% endfor %}
<form method="POST">
  {% csrf_token %}

  <div class="container">
    <h1>Log in</h1>

    <hr />

    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required />

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required />

    <div class="clearfix">
      <a href="/">
        <button type="submit" class="login">Login</button>
      </a>
    </div>
  </div>
</form>
{% endblock%}